<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pattern</key>
	<array>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>3</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>0</integer>
			<integer>3</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>3</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>3</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>3</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>3</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>3</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
	</array>
	<key>Schedule</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>3</integer>
		<integer>8</integer>
	</array>
	<key>Term</key>
	<array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.5</real>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>3</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>5</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>10</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>3</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>5</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>6</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>7</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>8</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>3</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>5</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>6</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>7</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>8</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>9</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>9</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>10</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>0</integer>
			<integer>11</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>1</integer>
			<integer>6</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>3</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<array>
			<integer>5</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</array>
</dict>
</plist>
